
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Karla:wght@200&family=Open+Sans&family=Poppins&display=swap');
@import url(banner.css);
@import url(botones.css);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background: #00C9FF; 
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  
    background: linear-gradient(to right, #92FE9D, #00C9FF); 
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
    
.title{
    float:left
    
}      
header {
    width: 100%;
    height: 50px;
    background-color: rgb(25, 46, 73);
    background-size: cover;
    color: #fff;
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}

section{
    width: 100%;
    margin-bottom: 20 px;
}

.contenedor {
    width: 98%;
    margin:auto;
}